.carouselWrapper {
  width: 100%;
  max-width: 90%; 
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin-top: 0; 

}

.carouselImage {
  width: auto;
  max-width: auto;
  /* height:400px;           */
  /* object-fit: contain;   */
   object-fit: auto;  
  display: block;
  background: #fff;
    margin: 0 auto;

}

/* Fade effect at bottom */
.carouselWrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 140px;
  background: linear-gradient(to top, #e3e6e6, transparent);
  pointer-events: none;
  z-index: 2;
}

/* Responsive tweaks */
@media (max-width: 768px) {
  .carouselImage {
    height: 250px;
  }

  .carouselWrapper::after {
    height: 80px;
}
}

@media (max-width: 480px) {
  .carouselImage {
    height: 180px;
  }
  
  .carouselWrapper::after {
    height: 60px;
  }
}
